{% extends 'base.html' %}

{% block content %}
    <section class="clicker">
        <div class="container">
            <h1>Click for Trees</h1>
            
            <div class="status">
                <p><strong>Clicks:</strong> <span id="contador">{{ clicks }}</span></p>
                <p><strong>Árboles Plantados:</strong> <span id="arboles">{{ trees_planted }}</span></p>
            </div>

            <form method="POST" id="form-click" class="click-form">
                {% csrf_token %}
                <button type="submit" class="arbolito">
                  {% load static %}
                    <img src="{% static 'png/arbol1.png' %}" alt="Árbol" width="300">
                </button>
            </form>
        </div>
    </section>

    <!-- Agregar el script al final -->
    <script src="{% static 'js/contador.js' %}"></script>
{% endblock %}
