{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>ClickforTrees</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1>ClickForTrees</h1>
    <p>Clicks: <span id="contador">{{ clicks }}</span></p>
    <p>Árboles Plantados: <span id="arboles">{{ trees_planted }}</span></p>
    
    {% if mensaje %}
      <div id="mensaje" class="mensaje-visible">{{ mensaje }}</div>
    {% else %}
      <div id="mensaje" class="mensaje-oculto"></div>
    {% endif %}

    <form method="post" id="form-click">
        {% csrf_token %}
        <button type="submit" class="arbolito">
            <img src="{% static 'jpg/arbol.png' %}" alt="Árbol" width="300">
        </button>
    </form>

    <script src="{% static 'js/contador.js' %}"></script>
  </body>
</html>

{% endblock %}