<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClickForTrees</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="textos">
        <div class="logo">
            <p class="marca">ClickForTrees</p>
            <p class="empresa">πGames</p>
        </div>
    </div>
    <div class="creadores">
        <p class="parrafos">Un proyecto estudiantil destinado a ayudar al medioambiente de forma lúdica a través de una
            página web la cual promoverá la plantación de árboles solamente apretando clicks!</p>
    </div>
    <div class="registro">
        <h1 class="sesion">Inicia sesión</h1>
        <form class="formulario">
            <div class="form-group">
                <label for="username" class="inicios">Ingrese usuario:</label><br>
                <input type="text" id="username" name="username" placeholder="Ejemplo: Renato777" class="bloque">
            </div>
            <div class="form-group">
                <label for="password" class="inicios">Contraseña:</label><br>
                <input type="password" id="password" name="password" class="bloque">
                <button class="ingreso" onclick="location.href='https://www.google.es/';">Log in</button>
            </div>
            <div class="registrarse">
                <p>Si no tienes cuenta, <a href="https://www.google.es/" class="registracion">Registrate!</a></p>
            </div>
    </div>
</body>

</html>