{% extends 'base.html' %}

{% block content %}
    <section class="inicio-sesion">
        <div class="container">
            <!-- Logo y Título -->
            <div class="logo">
                <p class="marca">ClickForTrees</p>
                <p class="empresa">πGames</p>
            </div>
            
            <!-- Descripción del Proyecto -->
            <div class="descripcion">
                <p class="parrafo">
                    Un proyecto estudiantil destinado a ayudar al medioambiente de forma lúdica a través de una
                    página web la cual promoverá la plantación de árboles solamente apretando clicks.
                </p>
            </div>
            
            <!-- Formulario de Inicio de Sesión -->
            <div class="registro">
                <h1 class="sesion">Inicia sesión</h1>
                <form class="formulario" method="POST">
                    {% csrf_token %}
                    {{ error }}
                    
                    <!-- Campo de Usuario -->
                    <div class="form-group">
                        <label for="username" class="inicios">Ingrese usuario:</label><br>
                        <input type="text" id="username" name="username" placeholder="Ejemplo: Renato777" class="bloque">
                    </div>
                    
                    <!-- Campo de Contraseña -->
                    <div class="form-group">
                        <label for="password" class="inicios">Contraseña:</label><br>
                        <input type="password" id="password" name="password" class="bloque">
                    </div>
                    
                    <!-- Botón de Login -->
                    <div class="boton">
                        <button type="submit" class="ingreso">Iniciar sesión</button>
                    </div>
                    
                    <!-- Enlace a Registro -->
                    <div class="registrarse">
                        <p>Si no tienes cuenta, <a href="#" class="registracion" onclick="redireccionarRegistro()">¡Regístrate!</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    <script>
        function redireccionarRegistro() {
            // Redirige a la página de registro
            window.location.href = '/register/';
        }
    </script>
{% endblock %}